.leftSide {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  align-content: center;
}

.sideBar {
  position: sticky;
  top: 0;
  height: 100vh;
}

.footer {
  font-size: 0.7rem;
  /* padding: 0; */
  text-align: center;
}

ul {
  list-style: none;
  margin-left: 0;
  padding-left: 0;
  /* border: 1px solid #f70000; */
}

ul li::before {
  content: "✰ ";
}

.topLeftSide h2 {
  margin-top: 0;
  text-align: center;
}

.topLeftSide p {
  margin-bottom: 0;
  text-align: center;
}

.topLeftSide img {
  display: block;
  margin: auto;
}
