.leftSide {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  /* padding: 5px 15px; */
  align-content: center;
}

.sideBar {
  position: sticky;
  top: 0;
  height: 100vh;
}

.footer {
  font-size: 0.7rem;
  /* padding: 0; */
  text-align: center;
}

ul {
  /* text-align: left; */
  list-style-type: none;
  margin-left: auto;
  margin-right: auto;
}

ul li::before {
  content: "✰ ";
  text-align: left;
}

.topLeftSide h2 {
  margin-top: 0;
  text-align: center;
}

.topLeftSide p {
  margin-bottom: 0;
  text-align: center;
}

.topLeftSide img {
  display: block;
  margin: auto;
}
